.full-height-map {
    height: 100%;
    width: 100%;
}

ion-title {
    font-size: 30px;
    text-align: center;
}

ion-fab-button {
    --background: black;
    --background-activated: black;
    --background-hover: black;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
}

ion-button {
    --background: black;
    --background-activated: black;
    --background-hover: black;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
}
